<!DOCTYPE html>
<html class="boxed" lang="{{ app.request.locale }}" dir="ltr">
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% for s in settings %}
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <link rel="icon" href="{{s.siteCDN}}/themes/grey/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700%7CMontserrat:400,700,800">
        <link rel="stylesheet" href="{{s.siteCDN}}/themes/grey/css/bootstrap.css">
        <link rel="stylesheet" href="{{s.siteCDN}}/themes/grey/css/style.css" id="main-styles-link">
        {% endfor %}
    {% endblock %}
    </head>
<body>
{% include("@theme/maintenance/loading.html.twig") %}
    <div class="page">
    {% block body %}{% endblock %}
{% include("@theme/maintenance/footer.html.twig") %}