<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <META http-equiv="refresh" content="0.0;URL={{ app.request.locale }}/home">
    </head>
    <body>
    <!-- Easy way to working with Annotation -->
    </body>
</html>