    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>{{ 'loading.text'|trans({}, 'misc') }}</p>
        </div>
    </div>