{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.be_donator'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'bedonator' %}

{% block body %}
    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.be_donator'|trans }}</h2>
        </div>
    </section>
{% endblock %}