{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.be_donor'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'bedonor' %}

{% block body %}
    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.be_donor'|trans }}</h2>
        </div>
    </section>

    <section class="section section-md bg-default text-center">
        <div class="container">
            <div class="text-center">
                <h3>Paypal</h3>
                <h5 class="text-gray-500">You can support us without to have a Patreon account.<br>Please send a mail with your confirmation.</h5>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-9 col-lg-7 col-xl-5">
                    <!-- PayPal code here -->
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="W7T3C6JF6ADHN">
                        <table class="row justify-content-md-center">
                            <tr>
                                <td><input type="hidden" name="on0" value=""></td>
                            </tr>
                            <tr>
                                <td><select name="os0">
                                        <option value="Tier 1">Tier 1 : €1.00 EUR - monthly</option>
                                        <option value="Tier 2">Tier 2 : €10.00 EUR - monthly</option>
                                        <option value="Tier 3">Tier 3 : €25.00 EUR - monthly</option>
                                        <option value="Tier 4">Tier 4 : €50.00 EUR - monthly</option>
                                        <option value="Tier 5">Tier 5 : €75.00 EUR - monthly</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="currency_code" value="EUR">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}