{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.privacy'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'privacy-policy' %}

{% block body %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.privacy'|trans }}</h2>
        </div>
    </section>

    <section class="section section-lg bg-default">
        <div class="container">
            <div class="text-decoration">
                <dl class="list-terms">
                    {{ 'privacy.section'|trans|raw }}
                </dl><a class="privacy-link" href="mailto:contact@oktodark.com">contact@oktodark.com</a>
            </div>
        </div>
    </section>

{% endblock %}