{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.services'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'services' %}

{% block main %}

        <section class="section section-page-title context-dark">
            <div class="container">
                <h2>{{ 'title.services'|trans }}</h2>
            </div>
        </section>

        <section class="section section-lg bg-gray-100">
            <div class="container">
                <div class="row row-50 row-bordered">
                    <div class="container">
                        <div class="card-deck mb-3 text-center">
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">Templating</h4>
                                </div>
                                <div class="card-body">
                                    from
                                    <h3 class="card-title pricing-card-title">$10 <small class="text-muted">/ week</small></h3>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Wordpress</li>
                                        <li>Personal</li>
                                        <li>Portfolio</li>
                                    </ul>
                                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                                </div>
                            </div>
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">Coding</h4>
                                </div>
                                <div class="card-body">
                                    from
                                    <h3 class="card-title pricing-card-title">$30 <small class="text-muted">/ week</small></h3>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Scratch website</li>
                                        <li>Bug Fixed</li>
                                        <li>SEO</li>
                                    </ul>
                                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                                </div>
                            </div>
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">Custom</h4>
                                </div>
                                <div class="card-body">
                                    from
                                    <h3 class="card-title pricing-card-title">$100 <small class="text-muted">/ week</small></h3>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Various Scripts</li>
                                        <li>Javascripts</li>
                                    </ul>
                                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}